server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/orderdb?stringtype=unspecified
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    consumer:
      bootstrap-servers: kafka:9092
      group-id: inventory-group
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
    producer:
      bootstrap-servers: kafka:9092
      properties:
        spring.json.add.type.headers: false
