version: '3.8'
services:

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata
    ports:
      - "5432:5432"
    volumes:
      - ./infra/init-sql:/docker-entrypoint-initdb.d

  redis:
    image: redis:7
    ports:
      - "6379:6379"
  
  auth-service:
    build:
      context: ./services/auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      - kafka
      - postgres

  order-service:
    build:
      context: ./services/order-service
    container_name: order-service
    ports:
      - "8082:8082"
    depends_on:
      - kafka
      - postgres
      - auth-service

  inventory-service:
    build: ./services/inventory-service
    container_name: inventory-service
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_PROFILES_ACTIVE: docker

  notification-service:
    build: ./services/notification-service
    ports:
      - "8084:8084"
    depends_on:
      - kafka
    networks:
      - app-network


