server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/orderdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
  kafka:
    consumer:
      properties:
        spring.json.trusted.packages: "*"

spring.kafka.bootstrap-servers: localhost:9092
